body{
    background-color: ivory;

}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
    text-align: center;
}

@media screen and (max-width:992px){

    body{
        background-color: mediumaquamarine;
    }
    h1{
        color: mediumblue;
    }

}